.contNav{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

nav{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #cac7c7;
}

nav > div{
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 4px;
    box-sizing: content-box;
}

nav > div.disable{
    opacity: 0.4;
}

.contNav .pointer{
    height: 4px;
    bottom: -1px;
    min-width: 40px;
    position: absolute;
    transition: all .2s;
    background: #bccef3;
}