.VideoYoutube{
    height: 0;
    width: 100%;
    padding: 0px;
    position: relative;
    padding-bottom: 56.25%;
}

.VideoYoutube .video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}